html {
 margin: 0;
 height: 100%;
 width: 100%;
 padding: 0;


}

body {
 margin: 0;
 height: 100%;
 width: 100%;
 padding: 0;
 overflow: auto;
 scrollbar-width: none;
 background-color: black;
}

div {
  display: block;
  margin: auto;
  width: 100%;
  position: absolute;
  top: 50%;
 left: 50%;
  -ms-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);


}

p {
  font-size: 100%;
  color: #3cff00;
  margin:auto;
  text-align: center;
  padding-top: 0;

}

a {
  color: #3cff00;
  text-align: center;
  text-decoration: none;

}

a:hover {
  color: #4a4a4a;
}

img {
  margin:auto;
  text-align: center;

}
